<div class="container-primero container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 align-middle formulario">
        <form action="">
          <div class="form-group text-center pt-3">
            <h1 class="text-light">INICIAR SESIÓN</h1>
          </div>
          <div class="form-group mx-sm-4 pt-3">
            <input type="text" class="form-control" placeholder="Ingrese su Usuario">
          </div>
          <div class="form-group mx-sm-4 pb-3">
            <input type="text" class="form-control" placeholder="Ingrese su Contraseña">
          </div>
          <div class="form-group mx-sm-4 pb-2">
            <input type="submit" class="btn btn-block ingresar" value="INGRESAR">
          </div>
          <div class="form-group mx-sm-4 text-right">
            <span class=""><a href="#" class="olvide">Olvide mi contraseña?</a></span>
          </div>
          <div class="form-group text-center">
            <span><a href="" class="olvide1">REGISTRARSE</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--
<div class="container-primero container-fluid">
  <div class="registerForm-container justify-content-center ">
    <div class="text-center">
      <h2>Create a New Account</h2>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="">
        <div class="form-group">
          <label for="username">User name</label>
          <input type="text" class="form-control" formControlName="username" placeholder="name" id="username" />
          <small *ngIf="username.touched && username.hasError('required')">Username is required</small>
        </div>
        <div class="form-group">
          <label for="emailAddress">Email address</label>
          <input type="email" class="form-control" formControlName="email" placeholder="name@example.com"
            id="emailAddress" />
          <small *ngIf="email.touched && email.hasError('required')">Email is required</small>
          <small *ngIf="email.touched && email.hasError('email')">Email must be valid</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" placeholder="Your password" formControlName="password" class="form-control"
            id="password" />
          <small *ngIf="password.touched && password.hasError('required')">Password is required</small>
          <small *ngIf="password.touched && password.hasError('pattern')">Must be a valid password</small>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input type="password" placeholder="Repeat your password" formControlName="confirmPassword"
            class="form-control" id="confirmPassword" />
          <small *ngIf="confirmPassword.touched && registerForm.hasError('passwordsNotMatching')">Password confirmation not
            matching</small>
        </div>
        <div class="text-center">
          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-outline-primary">
            Sign Up
          </button>
        </div>
      </div>
      <div class="text-center">
        Already have an account? <a routerLink="/login">Sign In</a>
      </div>
    </form>
  </div>
</div>
-->