<div *ngIf="movie">
  <div class="background">
    <div class="trailer">
      <app-ytb-video-frame [queryYtb]="movie.title"></app-ytb-video-frame>
    </div>
    <img
      [src]="movie.poster_path | appendBaseImgUrl"
      class="img-background"
      alt="..."
    />
    <div class="container2 text-white">
      <h2 class="principal">
        <b>{{ movie.title | uppercase }} Details</b>
      </h2>
      <h3 class="principal">{{ movie.runtime | dateRuntime }}</h3>
      <div>
        <p>{{ movie.overview }}</p>
      </div>
    </div>
    <button (click)="goBack()">go back</button>
  </div>
</div>
