<div container-fluid>
  <nav class="navbar justify-content-between navbar-light">
    <div class="form-inline">
      <a routerLink="/home" class="navbar-brand mx-5 py-0">
        <img src="../../../../assets/logo/logo.png" width="93" height="50" alt="">
      </a>
      <li class="d-flex align-items-start">
        <a routerLink="/home" appNavbar class="home mr-4 ml-5">HOME</a>
        <a routerLink="/categorias" appNavbar class="categorias mr-4">CATEGORIAS</a>
        <a routerLink="/noticias" appNavbar class="noticias mr-4">NOTICIAS</a>
      </li>
    </div>
    <div class="form-inline my-lg-0 d-flex justify-content-end">
      <a routerLink="/login" appNavbar class="mr-4 ml-5">LOGIN</a>
    </div>
  </nav>
</div>
