@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');

.navbar {
    background-color: #07111B;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.home {
    font-family: 'Mulish', sans-serif;
}

.buttonLogin {
    border-radius: 25px;
    background-color: transparent;
}

.modal-login .modal-content{
    background-color: #2D2A2A;
    color: #ffffff;
}

.modal-register .modal-content{
    background-color: #2D2A2A;
    color: #ffffff;
}