<div container-fluid>
    <nav class="navbar justify-content-between navbar-light">
        <div class="form-inline">
            <a routerLink="/home" class="navbar-brand mx-5 py-0">
                <img
                    src="../../../../assets/logo/logo.png"
                    width="93"
                    height="50" alt="">
            </a>

            <li class="d-flex align-items-start">
                <a routerLink="/home" appNavbar class="home mr-4 ml-5">HOME</a>
                <a routerLink="/categorias" appNavbar class="categorias mr-4">CATEGORIAS</a>
                <a routerLink="/noticias"appNavbar class="noticias mr-4">NOTICIAS</a>
            </li>
        </div>

        <div class="form-inline my-lg-0 d-flex justify-content-end">
            <button appNavbar type="button" [isButton]="true" class="btn btn-light px-5 mr-5 buttonLogin" href="#" (click)="loginModal(contenido1)">Login</button>
        </div>
    </nav>
</div>

<!-----------------------------------Apartado pantalla LOGIN----------------------------------------------->

<ng-template #contenido1 let-modal1>
    <div class="modal-header">
        <h4 class="modal-title">Inicio de Sesion</h4>
        <button class="close" appNavbar type="button" (click)="modal1.dismiss()">
            <span aria-hidden="true">X</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formularioDeIngreso" id="basic-form" class="formularioDeIngreso">
            Usuario: <input 
            type="text"
            class="form-control" 
            id="usernameLogin"
            formControlName="username"
            minlength = "3"
            [class.is-invalid]="formularioDeIngreso.get('username')?.touched && formularioDeIngreso.get('username')?.invalid">
            Contraseña: <input 
            type="password" 
            class="form-control"
            id="passwordLogin" 
            formControlName="userpassword"
            minlength = "3"
            [class.is-invalid]="formularioDeIngreso.get('userpassword')?.touched && formularioDeIngreso.get('userpassword')?.invalid">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="RegisterModal(contenido2)">
            Registrarse
        </button>
        <button type="button" class="btn btn-success" (click)="login()">
            Iniciar sesión
        </button>
    </div>
</ng-template>

<!-----------------------------------Apartado pantalla REGISTER----------------------------------------------->

<ng-template #contenido2 let-modal2>
    <div class="modal-header">
        <h4 class="modal-title">Registro</h4>
        <button class="close" appNavbar type="button" (click)="modal2.dismiss()">
            <span aria-hidden="true">X</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formularioDeRegistro"  class="formRegisterComplety">
            Usuario: <input 
            type="text"
            class="form-control" 
            id="usernameRegister"
            formControlName="username"
            minlength = "3"
            [class.is-invalid]="formularioDeRegistro.get('username')?.touched && formularioDeRegistro.get('username')?.invalid">
            Contraseña: <input 
            type="password" 
            class="form-control" 
            id="passwordRegister"
            minlength = "3"
            formControlName="userpassword"
            [class.is-invalid]="formularioDeRegistro.get('userpassword')?.touched && formularioDeRegistro.get('userpassword')?.invalid">
            Correo: <input 
            type="email" 
            id="emailRegister"
            class="form-control" 
            required
            formControlName="useremail"
            [class.is-invalid]="formularioDeRegistro.get('useremail')?.touched && formularioDeRegistro.get('useremail')?.invalid">
            <label for="news" class="news">¿Quieres recibir por correo novedades de tus categorias preferidas?</label>
            <input 
            type="checkbox" 
            id="news" 
            class="form-control newsprincipal"  
            formControlName="usernews"
            (click)="activarCategorias()"> 
            <ul id="categories" class="inicio">
                <label for="action" class="actioncategory news">Acción</label>
                <input 
                type="checkbox" 
                id="action" 
                class="form-control checkcategories"  
                formControlName="useractioncategory"
                value="action"
                is=> 

                <label for="animation" class="animationcategory news">Animación</label>
                <input 
                type="checkbox" 
                id="animation" 
                class="form-control checkcategories"  
                formControlName="useranimationcategory"
                value="animation"> 

                <label for="adventure" class="adventurecategory news">Aventura</label>
                <input 
                type="checkbox" 
                id="adventure" 
                class="form-control checkcategories"  
                formControlName="useradventurecategory"
                value="adventure"> 

                <label for="war" class="comedycategory news">Bélica</label>
                <input 
                type="checkbox" 
                id="war" 
                class="form-control checkcategories"  
                formControlName="userwarcategory"
                value="war"> 

                <label for="science fiction" class="comedycategory news">Ciencia ficción</label>
                <input 
                type="checkbox" 
                id="science fiction" 
                class="form-control checkcategories"  
                formControlName="usersciencefictioncategory"
                value="science fiction"> 

                <label for="comedy" class="comedycategory news">Comedia</label>
                <input 
                type="checkbox" 
                id="comedy" 
                class="form-control checkcategories"  
                formControlName="usercomedycategory"
                value="comedy"> 

                <label for="crime" class="comedycategory news">Crimen</label>
                <input 
                type="checkbox" 
                id="crime" 
                class="form-control checkcategories"  
                formControlName="usercrimecategory"
                value="crime"> 

                <label for="documentary" class="comedycategory news">Documental</label>
                <input 
                type="checkbox" 
                id="documentary" 
                class="form-control checkcategories"  
                formControlName="userdocumentarycategory"
                value="documentary"> 

                <label for="drama" class="comedycategory news">Drama</label>
                <input 
                type="checkbox" 
                id="drama" 
                class="form-control checkcategories"  
                formControlName="userdramacategory"
                value="drama"> 

                <label for="family" class="comedycategory news">Familia</label>
                <input 
                type="checkbox" 
                id="family" 
                class="form-control checkcategories"  
                formControlName="userfamilycategory"
                value="family"> 

                <label for="fantasy" class="comedycategory news">Fantasía</label>
                <input 
                type="checkbox" 
                id="fantasy" 
                class="form-control checkcategories"  
                formControlName="userfantasycategory"
                value="fantasy"> 

                <label for="history" class="comedycategory news">Historia</label>
                <input 
                type="checkbox" 
                id="history" 
                class="form-control checkcategories"  
                formControlName="userhistorycategory"
                value="history"> 

                <label for="mystery" class="comedycategory news">Misterio</label>
                <input 
                type="checkbox" 
                id="mystery" 
                class="form-control checkcategories"  
                formControlName="usermysterycategory"
                value="mystery"> 

                <label for="music" class="comedycategory news">Música</label>
                <input 
                type="checkbox" 
                id="music" 
                class="form-control checkcategories"  
                formControlName="usermusiccategory"
                value="music"> 

                <label for="tv movie" class="comedycategory news">Pelicula de TV</label>
                <input 
                type="checkbox" 
                id="tv movie" 
                class="form-control checkcategories"  
                formControlName="usertvmoviecategory"
                value="tv movie"> 

                <label for="romance" class="comedycategory news">Romance</label>
                <input 
                type="checkbox" 
                id="romance" 
                class="form-control checkcategories"  
                formControlName="userromancecategory"
                value="romance"> 

                <label for="thriller" class="comedycategory news">Suspenso</label>
                <input 
                type="checkbox" 
                id="thriller" 
                class="form-control checkcategories"  
                formControlName="userthrillercategory"
                value="thriller"> 

                <label for="horror" class="comedycategory news">Terror</label>
                <input 
                type="checkbox" 
                id="horror" 
                class="form-control checkcategories"  
                formControlName="userhorrorcategory"
                value="horror"> 

                <label for="western" class="comedycategory news">Western</label>
                <input 
                type="checkbox" 
                id="western" 
                class="form-control checkcategories"  
                formControlName="userwesterncategory"
                value="western"> 

                <b><label class="inicio alertcategories">Selecciona al menos una categoria...</label></b>
            </ul>       
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="loginModal(contenido1)">
            Iniciar sesión
        </button>
        <button type="button" class="btn btn-success" (click)="registrar()">
            Registrarse
        </button>
    </div>
</ng-template>
