<div class="container-primero">
  <div class="container2 container-fluid">
    <div class="container3 d-flex justify-content-between">
      <p class="tittle"><b>Review</b></p>
    </div>
    <hr>
    <ul class="review-container">
      <li class="card border-right border-left" *ngFor="let review of reviews.slice(0, 3)">
        <div class="container-review2">
          <section>
            <p class="text-review text-white">{{ review.content }}</p>
          </section>
          <p class="text-autor text-white"><b>Autor:  {{ review.author }}</b></p>
        </div>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-center text-color-white">
    <pagination-controls class="pagination" ></pagination-controls>
  </div>
</div>