<footer class="footer">
    <span class="containe"> 
        <span class="networks align-bottom">
            <button type="button" class="btn btn-primary btn-facebook mr-2"></button>
            <button type="button" class="btn btn-inf btn-twitter mr-2"></button>
            <button type="button" class="btn btn-danger btn-youtube mr-2"></button>
            <button type="button" class="btn btn-primary btn-instagram mr-2"></button>
        </span>
        <span class="img-logo">
            <img 
                src="https://e1.pngegg.com/pngimages/693/439/png-clipart-para-hacer-tu-kawaii-square-yellow.png"
                width="50"
                height="50" alt="">
        </span>
    </span>
</footer>
