<footer class="footer">
    <span class="container"> 
        <span class="networks">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png"
                width="50"
                height="50" alt="">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png"
                width="50"
                height="50" alt="">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png"
                width="50"
                height="50" alt="">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png"
                width="50"
                height="50" alt="">
        </span>
        <span class="img-logo">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png"
                width="50"
                height="50" alt="">
        </span>
    </span>
</footer>
