<footer class="footer">
    <span class="networks">
        <button id="al1" aria-label="Name" class="btn btn-inf btn-twitter mr-2 pt-2"></button>
        <button id="al2" aria-label="Name" class="btn btn-danger btn-youtube mr-2"></button>
        <button id="al3" aria-label="Name" class="btn btn-primary btn-instagram mr-2"></button>
    </span>
    <span routerLink="/home" class="d-flex justify-content-center">
        <img src="../../../../assets/logo/logo.png" width="93" height="50" alt="">
    </span>
</footer>