<div class="container-primero">
  <div class="container2 container-fluid">
    <div class="container3 d-flex justify-content-between">
      <p class="tittle"><b>Upcoming</b></p>
    </div>
    <hr>
    <ul class="movies-container">
      <li class="card"
        *ngFor="let movie of movies | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalPages }"
        routerLink="/detail/{{movie.id}}" routerLinkActive="router-link-active">
        <app-movie-little-card [movie]="movie"></app-movie-little-card>
      </li>
    </ul>
  </div>
</div>
<pagination-controls class="text-center" (pageChange)="getUpcomingMovies((page = $event))"></pagination-controls>
