<div class="card card-section" href="#">
    <img src="https://www.ecartelera.com/carteles/8900/8902/041_m.jpg"
        class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="into">
            <p class="card-text text-white">Avengers EndGame</p>
            <div class="container1">
                <div class="stars-container">
                    <img src="http://assets.stickpng.com/thumbs/58738756f3a71010b5e8ef44.png" class="img-stars" alt="...">
                </div>
            </div>
            <p class="release_day text-white">12/08/2021</p>
        </div>
    </div>
</div>
