@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.container {
    background-color: #0B141F;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.bg-cinema {
    background: url('../../../assets/movie-detail/img-cinema.png');
    height: 80.8vh;
    overflow: auto;
    width: 98.75vw;
    z-index: 20;
}

.text-container {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 40px;
    z-index: 30;
}

.text {
    font-size: 20px;
}

.name-page {
    font-size: 50px;
}

.popular-movies {
    position: relative;
    top: 40px;
    z-index: 30;
}