<div class="container-fluid">
    <div class="bg-cinema container-fluid">
        <div>
            <div class="text-container">
                <p class="text">BIENVENIDO A</p>
                <p class="name-page"><b>GAME ZONE</b></p>
                <p class="text">Aqui encontraras las mejores reseñas de tus peliculas y series favoritas </p>
            </div>
            <div class="popular-movies">
                <app-popular-movies></app-popular-movies>
            </div>
        </div>
    </div>
</div>
<app-most-ranked-movies></app-most-ranked-movies>
