<div class="container">
    <div class="bg-cinema">
        <div class="text-container">
            <ul class="text">BIENVENIDO A</ul>
            <ul class="name-page"><b>GAME ZONE</b></ul>
            <ul class="text">Aqui encontraras las mejores reseñas de tus peliculas y series favoritas </ul>
        </div>
        <div class="popular-movies">
           <app-popular-movies></app-popular-movies> 
        </div>
    </div>
</div>
<app-most-ranked-movies></app-most-ranked-movies>
<app-latest-ranked-movies></app-latest-ranked-movies>


